/target
/outputs
/local
.z3-trace
/greenthumb/arm/restriction-superopt/output/
/greenthumb/arm/restriction-superopt/generated/*/out/
/tmp
/examples/arm32/build-newlib
/examples/arm32/newlib-install
/examples/arm32/out